canvas{
    background-color: rgb(104, 174, 255);
    border: 3px solid black;
    float: left;
}
body{
    background-color: gray;
}
#pageLeft{
    font: 13px Calibri;
    float: left;
}
#pageRight{
    font: 13px Calibri;
    clear: both;
    margin-left: 100px;
}